<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="clientId" value="caf8d4e5-9878-460e-9fe1-2e1ba1ec358b"/>
    <add key="labellingQuestion" value="Does this relate to a future trip?"/>
    <add key="csvFilename" value="mail.csv"/>
    <add key="startDate" value="2017/12/1"/>
    <add key="endDate" value="2017/12/31"/>
  </appSettings>
</configuration>